header .botones button {
  background-color: rgb(14, 165, 233);
  color: whitesmoke;
  font-weight: 500;
  border: none;
}

i {
  padding-right: 10px;
}

.buscar button,
.sesion button {
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 1.2em;
}
